site_name: django-telegram-app
site_url: https://shifqu.github.io/django-telegram-app/

theme:
  name: material
  favicon: assets/logo_01_transparent_black.png
  logo: assets/logo_01_transparent_white.png
  icon:
    repo: fontawesome/brands/github
  palette:
    - media: "(prefers-color-scheme)"
      primary: blue grey
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode
    - media: "(prefers-color-scheme: light)"
      primary: blue grey
      scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      primary: blue grey
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to system preference
  features:
    - content.code.copy
    - content.tooltips
    - navigation.footer
    - navigation.indexes
    - navigation.instant
    - navigation.instant.prefetch
    - navigation.instant.progress
    - navigation.path
    - navigation.sections
    - navigation.top
    - search.highlight
    - search.share
    - search.suggest
    - toc.follow

markdown_extensions:
  - admonition
  - pymdownx.highlight:
      linenums: true
      anchor_linenums: true
  - pymdownx.superfences
  - attr_list
  - toc:
      permalink: true

repo_url: https://github.com/shifqu/django-telegram-app
repo_name: GitHub

plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          options:
            show_submodules: true

nav:
  - Overview: index.md

  - Tutorials:
      - Tutorial Overview: tutorials/index.md
      - Getting Started: tutorials/getting-started.md
      - Your First Bot Command: tutorials/dice-roller-tutorial.md
      - Extending Your First Bot Command: tutorials/dice-roller-tutorial-ext.md
      - Writing Tests For Your Bot Commands: tutorials/write-tests.md
      - What's Next: tutorials/whats-next.md

  - Topic Guides:
      - Topics Overview: topics/index.md
      - Bot Architecture: topics/bot-architecture.md
      - Callback Data: topics/callback-data.md
      - Update Flow: topics/update-flow.md
      - State Management: topics/state-management.md
      - TelegramSettings Design: topics/telegramsettings-design.md
      - Testing the Bot: topics/testing.md
      - Help Command: topics/help-command.md

  - How-To Guides:
      - Guides Overview: howto/index.md
      - Swap TelegramSettings: howto/swap-telegramsettings.md
      - Write Management Commands: howto/write-management-commands.md
      - Debug Bot Issues: howto/debug-bot-issues.md
      - Add custom commands to the list of the bot's commands: howto/set-custom-commands.md

  - Reference:
      - Reference Overview: reference/index.md
      - API:
          - BaseBotCommand: reference/api/bot/base-bot-command.md
          - Step: reference/api/bot/step.md
          - TelegramUpdate: reference/api/bot/telegram-update.md
          - TestCases: reference/api/bot/testcases.md
          - CallbackData: reference/api/callbackdata.md
          - Message: reference/api/message.md
          - TelegramSettings: reference/api/telegramsettings.md
      - Checks: reference/checks.md
      - Configuration: reference/configuration.md
